body {
    font-family : violet;
    background-color : red;
    text-align : center;
    padding-left : 20px;
    padding-right : 30px;
}

div {
    width : 500px;
    background-color : red;
    margin : auto;
    text-align : center;
}

img {
    width : 500px;
    height : 80%;
    text-align : center;
}

li {
    display : inline;
    padding-right : 10px;
    color : black;
}

ul a {
    text-decoration : white;
    color : #66CCFF;
}

ul a:hover {
    text-decoration : underline;
    color : black;
}