body {
    font-family : sans-serif; 
    margin-top : 60px;
    background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQjy99g-rtgOARl4Nu5iukHp8BC4pl3kao2gDQa8YNDnwmFFEfx");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container  {
    max-width: 800px;
    margin : 0 auto;
    color : #4a4a4a;
    padding-left: 20px;
    padding-right: 20px;
    font-family : sans-serif;
 }